name: Release
on:
  push:
    tags: ["v*.*.*"]
jobs:
  make-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: softprops/action-gh-release@v1
      with:
        generate_release_notes: true
